# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual Environment
venv/
.env/
.envrc

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# MLflow
# =========================
mlruns/
*.db

# =========================
# DVC
# =========================
.dvc/cache/
.dvc/tmp/
.dvc/config.local

# =========================
# Artifacts
# =========================
artifacts/
models/
*.pkl
*.joblib

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Secrets
# =========================
.env


notebook/.ipynb_checkpoints
notebook/Fraud_dataset
notebook/mlruns
notebook/newtesting
notebook/schema
notebook/mlflow.db
